@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 15px; /* Decrease the base font size */
}

* {
  font-family: "Poppins", sans-serif;
}

.custom-blue {
  color: #003480;
}
